@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    background: #364153;
}

.ant-card-bordered {
    border: none;
}

.ant-card-head {
    background-color: #9395d3 !important;
    color: white !important;
}

.ant-empty-description {
    color: white !important;
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid #9d9d9d;
}